    .side-video {
    position: fixed;     
    top: 0;
    right: 0;            
    width: 34%;          
    height: 100%;        
    object-fit: cover;   
    z-index: 0;         
}

.video-button {
    position: fixed;
    bottom: 30px;
    right: 17%;          
    transform: translateX(50%);
    
    padding: 12px 22px;
    font-size: 16px;
    
    background-color: rgba(255,226,84,0.575);
    
    border: none;
    border-radius: 8px;
    
    cursor: pointer;
    
    z-index: 2;
}

.video-button:hover {
    background-color: rgba(0,0,0,0.85);
}
    
    body {
        background-color: rgb(203, 255, 168);
  }
    
    h1 {
        color: rgb(0, 0, 0)
  }

    h1 {
    background-color: rgba(255, 226, 84, 0.575);
  }

    h2 {
        color: rgb(0, 0, 0);
    }

    h2 {
    background-color: rgb(255, 226, 84, 0.575);
  }

    ol li {
  font-weight: bold;
}

#SchildkröteaufGras {
  width: 775px;
}

html {
  scroll-behavior: smooth;
}

.video-box {
  position: relative;
  width: 775px;
}

#LandschildkröteamLaufen {
  width: 775px;
}

.video-text {
  position: absolute;
  top: 20px;
  left: 40%;
  transform: translateX(-50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 8px black;
}

p {
max-width: 65%;
}

ul li {
max-width: 64%;
}

table {
width:65%;
border-collapse:collapse;
text-align:center;
}

th, td {
border:1px solid black;
padding:10px;
}

#WasserschildkröteOzean {
  width: 230px;
}

#WasserschildkröteSüssgewässer {
  width: 230px;
}

#LandschildkröteLand {
  width: 230px;
}

#Lederschildkröte {
  width: 172.5px;
}

#GrüneMeeresschildkröte {
  width: 172.5px;
}

#Galápagos-Riesenschildkröte {
  width: 172.5px;
}

#EuropäischeSumpfschildkröte {
  width: 172.5px;
}

#Pflanzenfresser {
  width: 230px;
}

#Allesfresser {
  width: 230px;
}

#Fleischfresser {
  width: 230px;
}

#Odontochelys {
  width: 690px;
}

#Umweltverschmutzung {
  width: 775px;
}

#Esmeralda {
  width: 345px;
}

#Panzer {
  width: 345px;
}

