    #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
     filter: brightness(100%);
  }
     
    h1 {
        color: rgb(17, 93, 21)
    }

    h1 {
    background-color: rgb(228, 238, 172);
    width: 750px;
  }

    h2 {
        color: rgb(17, 93, 21);
    }

    h2 {
    background-color: rgb(228, 238, 172);
    width: 750px;
  }

  p {
    background-color: rgb(129, 238, 255);
  }

  ol {
    background-color: rgb(129, 238, 255);
    width: 750px;
  }

  ul {
    background-color: rgb(129, 238, 255);
    width: 750px;
  }

  table {
    background-color: rgb(129, 238, 255);
  }

    ol li {
  font-weight: bold;
}

#SchildkröteaufGras {
  width: 775px;
}

html {
  scroll-behavior: smooth;
}

#Meeresschildkröte {
  width: 775px;
}

p {
max-width: 65%;
}

ul li {
max-width: 65%;
}

table {
width:65%;
border-collapse:collapse;
text-align:center;
}

th, td {
border:1px solid black;
padding:10px;
}

#WasserschildkröteOzean {
  width: 230px;
}

#WasserschildkröteSüssgewässer {
  width: 230px;
}

#LandschildkröteLand {
  width: 230px;
}

#Lederschildkröte {
  width: 172.5px;
}

#GrüneMeeresschildkröte {
  width: 172.5px;
}

#Galápagos-Riesenschildkröte {
  width: 172.5px;
}

#EuropäischeSumpfschildkröte {
  width: 172.5px;
}

#Pflanzenfresser {
  width: 230px;
}

#Allesfresser {
  width: 230px;
}

#Fleischfresser {
  width: 230px;
}

#Odontochelys {
  width: 690px;
}

#Umweltverschmutzung {
  width: 775px;
}

#Esmeralda {
  width: 345px;
}

#Panzer {
  width: 345px;
}