    h1 {
        color: rgb(17, 93, 21)
    }
    h1 { 
        background-color: rgb(237, 255, 133);
    }
    h2 {
        color: rgb(17, 93, 21);
    }
    h2 {
        background-color: rgb(228, 238, 172);
    }
    body {
        background-color: rgb(170, 255, 142);
    }

    ol li {
  font-weight: bold;
}

#SchildkröteaufGras {
  width: 800px;
}

html {
  scroll-behavior: smooth;
}

#Meeresschildkröte {
  width: 800px;
}

p {
max-width: 65%;
}

ul li {
max-width: 65%;
}